<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item me-auto">
        <a href="/dashboard" class="navbar-brand">
          <img class="big_img" src="/app-assets/1 (4).png" height="70" width="70" >
          <img class="sm_img" src="/app-assets/45454.png" height="50" width="50">
        </a>
        <!-- <h2 class="brand-text">NewPro</h2> -->
      </li>
      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

      <li class=" <%= title =='dashboard'?'active':'' %>"><a class="d-flex align-items-center" href="/dashboard"><i data-feather="home"></i><span class="menu-title text-truncate">Dashboard</span></a>
      </li>
      <!-- <li class=" <%= title =='user_list'?'active':'' %> "><a class="d-flex align-items-center" href="/user_list"><i data-feather="user"></i><span class="menu-title text-truncate" >Users</span></a>
      </li> -->
      <!-- <li class=" <%= title =='worker_list'?'active':'' %> "><a class="d-flex align-items-center" href="/worker_list"><i data-feather="users"></i><span class="menu-title text-truncate">Providers </span></a>
      </li> -->
      <li class=" <%= title =='category_list'?'active':'' %> "><a class="d-flex align-items-center" href="/category_list"> 
       <i data-feather="users" class="me-1"></i>
<span class="menu-title text-truncate">Patient Feedback</span></a>
      </li>
      <script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace();
</script>


<li class=" <%= title == 'General_list' ? 'active' : '' %> ">
  <a class="d-flex align-items-center" href="/General_list">
   
    <span class="menu-title text-truncate">General OPD Feedback</span>
  </a>
</li>





      <!-- <li class=" <%= title == 'General_list' ? 'active' : '' %> "> <a class="d-flex align-items-center" href="/General_list"><i data-feather="layers"></i><span class="menu-title text-truncate">General OPD</span></a>
      </li> -->
     <!-- <li class=" <%= title == 'Private_list' ? 'active' : '' %> "> <a class="d-flex align-items-center" href="/Private_list"><i data-feather="layers"></i><span class="menu-title text-truncate">Private OPD</span></a>
      </li>    -->
  <li class="<%= title == 'Private_list' ? 'active' : '' %>">
  <a class="d-flex align-items-center" href="/Private_list">
   

    <span class="menu-title text-truncate">Private OPD Feedback</span>
  </a>
</li>



<li class=" <%= title == 'Evening_list' ? 'active' : '' %> ">
  <a class="d-flex align-items-center" href="/Evening_list">
   
    <span class="menu-title text-truncate">Evening OPD Feedback
</span>
  </a>
</li>


<li class=" <%= title == 'Unsatisfied_list' ? 'active' : '' %> ">
  <a class="d-flex align-items-center" href="/Unsatisfied_list">
   
    <span class="menu-title text-truncate">Dissatisfied Patients</span>
  </a>
</li>




<li class=" <%= title == 'GernallIST_satisfied' ? 'active' : '' %> ">
  <a class="d-flex align-items-center" href="/GernallIST_satisfied">
    <span class="dot blue"></span>
    <span class="menu-title text-truncate">General OPD Dissatisfied</span>
  </a>
</li>

<li class=" <%= title == 'Private_dissatisfied' ? 'active' : '' %> ">
  <a class="d-flex align-items-center" href="/PrivatelIST_satisfied">
    <span class="dot orange"></span>
    <span class="menu-title text-truncate">Private OPD Dissatisfied</span>
  </a>
</li>


<li class=" <%= title == 'Evening_dissatisfied' ? 'active' : '' %> ">
  <a class="d-flex align-items-center" href="/EveningIST_satisfied">
    <span class="dot red"></span>
    <span class="menu-title text-truncate">Evening OPD Dissatisfied</span>
  </a>
</li>
<!-- <li class="nav-item has-sub <%= title === 'Parking_list' ? 'open active' : '' %>">
  <a href="javascript:void(0)" class="d-flex align-items-center">
 <i data-feather="file-text"></i>
    <span class="menu-title text-truncate">Category     Issues</span>
  </a> -->

  <!-- Dropdown items -->
  <!-- <ul class="menu-content">
    <li class="<%= title === 'parking' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Parking_list">
        <i data-feather="circle"></i>
        <span class="menu-item text-truncate">Parking</span>
      </a>
    </li> -->

    <!-- <li class="<%= title === 'Wheel_chair' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Wheel_chair">
        <i data-feather="disc"></i>
        <span class="menu-item text-truncate">Wheel Chair</span>
      </a>
    </li> -->
<!-- 
    <li class="<%= title === 'Blood_collection' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Blood_collection">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Blood Collection</span>
      </a>
    </li> -->

    

     <!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Registration_Desk">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Registration Dask</span>
      </a>
    </li> -->




 <!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Help_Desk">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Help Desk</span>
      </a>
    </li> -->



<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Nursing_Care">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Nursing</span>
      </a>
    </li> -->


<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/BP_Counter">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">BP Counter</span>
      </a>
    </li> -->


<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Doctor_Consult">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Doctor Consult</span>
      </a>
    </li> -->
 
<!-- 
<li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/XRay_CTScan">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">X-Ray/CT Scan</span>
      </a>
    </li> -->


<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/OPD_Waiting">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">OPD Waiting</span>
      </a>
    </li> -->


<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Pharmacy_Info">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Pharmacy</span>
      </a>
    </li> -->


<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Physiotherapy">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Physiotherapy</span>
      </a>
    </li> -->


<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Food_Facilities">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Food Facilities</span>
      </a>
    </li> -->
 

<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Cleanliness">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Cleanliness</span>
      </a>
    </li> -->
 

<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Security">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Security</span>
      </a>
    </li> -->
 

<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Safe_Environment">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Safe Environment</span>
      </a>
    </li> -->


<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Patient_Rights">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Patient Rights</span>
      </a>
    </li> -->


<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Staff_Commun">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Staff Commun..</span>
      </a>
    </li> -->
 

<!-- <li class="<%= title === 'blood' ? 'active' : '' %>">
      <a class="d-flex align-items-center" href="/Any_Other">
        <i data-feather="droplet"></i>
        <span class="menu-item text-truncate">Any Other</span>
      </a>
    </li> -->

  <!-- </ul>
</li> -->




 
<!-- 
      <li class=" <%= title =='bookingsList'?'active':'' %> "><a class="d-flex align-items-center" href="/bookingsList"> <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path 
        d="M4 7a1 1 0 0 1 1-1h1a1 1 0 0 1 0 2H5a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h9a1 1 0 1 1 0 2h-9a1 1 0 0 1-1-1zm-5 5a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h9a1 1 0 1 1 0 2h-9a1 1 0 0 1-1-1zm-5 5a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h9a1 1 0 1 1 0 2h-9a1 1 0 0 1-1-1z" 
        fill="#0D0D0D"/></svg><span class="menu-title text-truncate">Bookings </span></a>
      </li> -->
       
      <!-- <li class=" <%= title =='Withdraw_list'?'active':'' %> "><a class="d-flex align-items-center" href="/Withdraw_list"><svg fill="#000000" viewBox="0 0 36 36" version="1.1"  preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>wallet-line</title>
        <path class="clr-i-outline clr-i-outline-path-1" d="M32,15H31V9a1,1,0,0,0-1-1H6a1,1,0,0,1-1-.82V6.82A1,1,0,0,1,6,6H29.58a1,1,0,0,0,0-2H6A3,3,0,0,0,3,7a3.08,3.08,0,0,0,0,.36V27.93A4.1,4.1,0,0,0,7.13,32H30a1,1,0,0,0,1-1V25h1a1,1,0,0,0,1-1V16A1,1,0,0,0,32,15ZM29,30H7.13A2.11,2.11,0,0,1,5,27.93V9.88A3.11,3.11,0,0,0,6,10H29v5H22a5,5,0,0,0,0,10h7Zm2-7H22a3,3,0,0,1,0-6H31Z"></path><circle class="clr-i-outline clr-i-outline-path-2" cx="23.01" cy="20" r="1.5"></circle>
        <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
        </svg>
        <span class="menu-title text-truncate" data-i18n="Subscriptions">Wallet </span></a>
      </li> -->

      <!-- <li class=" <%= title =='serviceFee_list'?'active':'' %> "><a class="d-flex align-items-center" href="/serviceFee_list"><i data-feather="percent"></i><span class="menu-title text-truncate"> Commission </span></a>
      </li> -->
       <!-- <li class=" <%= title =='transaction_list'?'active':'' %> "><a class="d-flex align-items-center" href="/transaction_list"><i data-feather="credit-card"></i><span class="menu-title text-truncate">Transactions </span></a>
      </li> -->
      <!-- <li class=" <%= title =='profile_swap_list'?'active':'' %> "><a class="d-flex align-items-center" href="/profile_swap_list"><i data-feather="bell"></i><span class="menu-title text-truncate" data-i18n="Subscriptions">profile swap </span></a>
      </li> -->
      <!-- <li class=" <%= title =='Aboutus'?'active':'' %> "><a class="d-flex align-items-center" href="/Aboutus"><i data-feather="info"></i><span class="menu-title text-truncate">About Us</span></a>
      </li> -->
      <!-- <li class=" <%= title =='privacy_policy'?'active':'' %> "><a class="d-flex align-items-center" href="/privacy_policy"><i data-feather="eye"></i><span class="menu-title text-truncate" >Privacy Policy</span></a>
      </li> -->
      <!-- <li class=" <%= title =='terms_condition'?'active':'' %> "><a class="d-flex align-items-center" href="/terms_condition"><i data-feather="check-square"></i><span class="menu-title text-truncate" >Terms & Conditions</span></a>
      </li> -->
      <!-- <li class=" <%= title =='faq_list'?'active':'' %> "><a class="d-flex align-items-center" href="/faq_list"><i data-feather="help-circle"></i><span class="menu-title text-truncate" >FAQ's </span></a>
      </li> -->
      <!-- <li class=" <%= title =='contact_list'?'active':'' %> "><a class="d-flex align-items-center" href="/contact_list"><i data-feather="mail"></i><span class="menu-title text-truncate" >Contact Us </span></a>
      </li> -->
      <!-- <li class=" <%= title =='report_list'?'active':'' %> "><a class="d-flex align-items-center" href="/report_list"><i data-feather="message-circle"></i><span class="menu-title text-truncate">Report </span></a>
      </li> -->
    </ul>
  </div>
</div>
<!-- END: Main Menu-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<style>


 .warning-triangle {
  width: 30px;
  height: 20px;
  background: #f1d924; 
  clip-path: polygon(
    50% 5%,
    5% 95%,
    95% 95%
  );
  border-radius: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* .triangle.blue {
  width: 30px;
  height: 20px;
  background: #3b82f6; 
  clip-path: polygon(50% 5%, 5% 95%, 95% 95%);
  border-radius: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.triangle.purple {
   width: 30px;
  height: 20px;
  background: #3498db; /* Purple fill */
  clip-path: polygon(50% 5%, 5% 95%, 95% 95%);
  border-radius: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.triangle.red {
 width: 30px;
  height: 20px;
  background: #a93e88; /* Red fill */
  clip-path: polygon(50% 5%, 5% 95%, 95% 95%);
  border-radius: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle.white {
 width: 30px;
  height: 20px;
  background: #ff0000; /* Red fill */
  clip-path: polygon(50% 5%, 5% 95%, 95% 95%);
  border-radius: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}





.dot{
  height:12px;
  width:12px;
  border-radius:50%;
  display:inline-block;
  margin-right:10px;
}

  .blue{ background:#f1d924; }
.orange{ background:#3498db; }
.red{ background:#a93e88; }
.purple{ background:#f33d3d; }
.green{ background:#2ecc71; }


.label{
  display:flex;
  align-items:justify;
}


</style>