<!-- BEGIN: Main Menu-->
<style>

  .main-menu.menu-light .navigation > li.active > a {
    background: linear-gradient(118deg, #010d24, #2196f3) !important;
    /* box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7); */
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
}
</style>
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">

  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item">
        <a href="/dashboard" class="navbar-brand">
          <img class="big_img" src="/app-assets/1 (4).png" height="80">
          <img class="sm_img" src="/app-assets/1 (4).png" height="40">
        </a>
        <!-- <h2 class="brand-text">NewPro</h2> -->
      </li>
      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" <%= title =='dashboard'?'active':'' %>"><a class="d-flex align-items-center" href="/dashboard1"><span class="menu-title text-truncate" data-i18n="Email">Dashboard</span></a>
      </li>
      <li class=" <%= title =='Patientipd'?'active':'' %> "><a class="d-flex align-items-center" href="/Patientipd"><span class="menu-title text-truncate" data-i18n="Chat">IPD Patient Feedback</span></a>
      </li>
      <li class="nav-item <%= title =='banner'?'active':'' %> has-sub">
  <!-- <a class="d-flex align-items-center" href="#">
    <span class="menu-title text-truncate">Room Facilities</span>
  </a> -->

  <!-- <ul class="menu-content"> -->
    <!-- <li class="<%= title == 'General_listipd' ? 'active' : '' %>">
  <a href="/Roomipd">
    <span class="menu-item">Housekeeping Issue</span>
  </a>
</li> -->



<!-- <li class="<%= title == 'blowerfans' ? 'active' : '' %>">
  <a href="/blowerfans">
    <span class="menu-item">Maintenance Issue </span>
  </a>
</li> -->

<!-- <li class="<%= title == 'bedlines' ? 'active' : '' %>">
  <a href="/bedlines">
    <span class="menu-item">Laundry Linen Issue</span>
  </a>
</li> -->

  


  <!-- <li class="<%= title == 'lights' ? 'active' : '' %>">
  <a class="d-flex align-items-center" href="/lights">
    <span class="menu-title text-truncate"> Electrical & Lighting Issue </span>
  </a>
</li> -->
  </ul>
</li>
    
    </ul>
  </div>
</div>
<!-- END: Main Menu-->


<div class="sidenav-overlay"></div>
<div class="drag-target"></div>